on:
  pull_request_target:
    paths:
      - '*'
      - '!docs/Coding-Conventions.md'

jobs:
  comment_on_pr:
    runs-on: ubuntu-latest
    name: PR comment
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Thank you for contributing! :wave:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
