name: Notify Members of Convention Change

on:
  pull_request_target:
    paths:
      - docs/Coding-Conventions.md
    types:
      - opened
      - reopened

jobs:
  org-check:
    name: Check GitHub Organization
    if: github.repository_owner == 'ni'
    runs-on: ubuntu-latest
    steps:
      - name: Noop
        run: "true"
  notify:
    runs-on: ubuntu-latest
    needs: org-check
    steps:
      - uses: actions/checkout@main
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Thank you for contributing! :wave:

            Since this changes the Coding Conventions, I'll @-mention the appropriate NI engineers.
            @alejandro5042
            @DavidCurtiss
            @irwand
            @jryckman
            @kcuzner
            @mshafer-NI
            @neilvana
            @nethrasuresh
            @pakdev
            @sbethur
            @stick152
            @tkrebes
            @Adithyak1998
            @innagarc
            @ShibaniRout
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
